#fatafat-logo {
    padding-left: 0%;
    height: 100%;
    width: 100%;
}

#fatafat-verify {
    height: 60px;
    width: 60px;
}
.map-button {
    padding-left: 0%;
}

.fatafat-imageClass, .fatafat-heading, .registration-button, .map-button {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.btn {
    background-color: #cc0202;
    border-color: transparent;
    color: #fec13d;
}