.header-content .box-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-content .logo img {
	width: 300px;
}
.header-content .right-box {
	width: 92px;
}
.header-content .right-box a {
    font-size: 16px;
    width: 100%;
    display: block;
}
.header-content .box-2 {
	border-top: 1px solid #ddd;
	margin-top: 30px;
	padding-top: 30px;
}
.header-content .box-2 img {
	width: 80px;
	float: left;
	margin-right: 15px;
}
.header-content .box-2 .content {
	overflow: hidden;
}
.header-content .box-2 p {
	font-size: 18px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 3px;
}
.header-content .box-2 a {
	font-size: 25px;
	font-weight: bold;
	color: #6f8bff;
}
.header-content .box-2 h1 {
	font-size: 30px;
	font-weight: bold;
}
@media screen and (max-width: 430px) {
	.header-content .logo img {
        width: 200px;
        height: 80px;
	}
	.header-content .box-2 img {
		float: none;
	}
	.header-content .box-2 {
		text-align: center;
	}
	}


#fatafat-logo {
    padding-left: 0%;
    height: 100%;
    width: 100%;
}

#fatafat-verify {
    height: 60px;
    width: 60px;
}

#loginButton {
    margin-right: 1%;
}

.floating {
    padding-left: 50%;
}

.map-button {
    padding-left: 0%;
}

.fatafat-imageClass, .fatafat-heading, .registration-button, .map-button {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.btn {
    background-color: #cc0202;
    border-color: transparent;
    color: #fec13d;
}

a:link, a:visited {
    color: blue ;
    text-decoration: underline;
    cursor: auto;
}
  
a:link:active, a:visited:active {
    color: blue;
}