<div class="container-fluid">
    <div class="row">
        <div class="fatafat-imageClass col-md-1">
            <i class="fa fa-check fa-2x" id="fatafatIcon" aria-hidden="true"></i>
            <!-- <img class="img-responsive" src="" alt="fataFatImage"> -->
        </div>
        <div class="fatafat-heading col-md-3">
            <h4>FataFat Store</h4>
        </div>
        <div class="registration-button col-md-6">
            <button type="button" class="btn btn-dark" (click)="onLogin()">Retailer Login/Registration</button>
        </div>
        <div class="map-button col-md-2">
            <button type="button" class="btn btn-dark" (click)="onShowMap()">Show Map</button>
        </div>
    </div>
</div>
