<div class="container-fluid">
    <div class="row">
        <div class="fatafat-imageClass col-md-1">
            <a href="http://www.google.com">Click To Know More!</a>
        </div>
        <div class="fatafat-logo-container col-md-3">
            <a routerLink="/">
                <img src="../../assets/images/fatafat.store logo-06.png" alt="logo" id="fatafat-logo">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="registration-button col-md-8">
            <button type="button" class="btn btn-dark" (click)="onLogin()">Retailer Login</button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-dark" (click)="onRegister()">Retailer Registration</button>
        </div>
        <!-- <div class="map-button col-md-2">
            <button type="button" class="btn btn-dark" (click)="onShowMap()">Show Map</button>
        </div> -->
    </div>
</div>
