.astrik {
    color: red;
}

.card-container {
    height: 450px;
}

.form-card-body {
    padding-bottom: 0%;
    overflow-y: scroll;
    padding-left: 1%;
    padding-right: 1%;
}

.submit-button {
    text-align: center;
    align-self: center;
}

.get-otp-button, .verify-otp-button {
    padding-bottom: 3%;
}

.map-container {
    padding: 0%;
}

#formHeading {
    text-align: center;
}

agm-map {
    height: 430px;
}