<div class="container-xl registration-container">
    <h6 id="formHeading">Registration Form</h6>
    <div class="card card-container">
        <div class="card-body form-card-body">
            <form [formGroup]="signUpForm" id="registrationForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="shopName">Shop Name<i class="astrik">*</i></label>
                                <input type="text" class="form-control" formControlName="shopName" placeholder="Shop Name"> <br>
                            </div>
                            <div class="col-md-12">
                                <label for="password">Password<i class="astrik">*</i></label>
                                <input type="password" class="form-control" formControlName="password" placeholder="Password"> <br>
                            </div>
                            <div class="col-md-12">
                                <label>Shop Owner Details<i class="astrik">*</i></label>
                                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name"> <br>
                                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"> <br>
                            </div>
                            <div class="col-md-12">
                                <label>Shop Address<i class="astrik">*</i></label>
                                <input type="text" class="form-control" formControlName="addressLine1" placeholder="Address Line-1"> <br>
                                <input type="text" class="form-control" formControlName="city" placeholder="City"> <br>
                                <input type="text" class="form-control" formControlName="state" placeholder="State"> <br>
                                <input type="number" class="form-control" formControlName="pincode" placeholder="Pincode"> <br>
                            </div>
                            <!-- <div class="col-md-12">
                                <label for="picode">Pincode<i class="astrik">*</i></label>
                                <input type="number" class="form-control" formControlName="pincode" placeholder="Pincode"> <br>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="number">WhatsApp Number<i class="astrik">*</i></label>
                                <input type="number" class="form-control" formControlName="number" placeholder="Number"> <br>
                            </div>
                            <div class="col-md-2 get-otp-button">
                                <button type="button" class="btn btn-dark" (click)="onGetOtp()">Get OTP</button>
                            </div>
                            <div class="col-md-4">
                                <label for="otp">OTP<i class="astrik">*</i></label>
                                <input type="password" class="form-control" formControlName="otp" placeholder="OTP"> <br>
                            </div>
                            <div class="col-md-2 verify-otp-button">
                                <button type="button" class="btn btn-dark" (click)="onVerifyOtp()">Verify</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email">Email<i class="astrik">*</i></label>
                                <input type="email" class="form-control" formControlName="email" placeholder="Email"> <br>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                <div class="col-md-8">
                                    <label for="email">Shop Location<i class="astrik">*</i></label>
                                    <input type="text" [(ngModel)]="address" class="form-control" formControlName="location" placeholder="Type your locality" required/> <br>
                                </div>
                                <div class="col-md-4 get-otp-button">
                                    <button type="button" class="btn btn-dark" [disabled]="address.length == 0" (click)="getStoreAddress()">Find Locality</button>
                                </div>
                                </div>
                                <div>
                                    <agm-map 
                                        [latitude]="latitude" 
                                        [longitude]="longitude" 
                                        [zoom]="zoom" >
                                        <agm-marker 
                                            [latitude]="latitude" 
                                            [longitude]="longitude">
                                        </agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="deliveryMedium">Medium of Delivery<i class="astrik">*</i></label>
                                <input type="text" class="form-control" formControlName="deliveryMedium" placeholder="Delivery Medium"> <br>
                            </div>
                            <div class="col-md-12"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row submit-button">
        <div class="col-md-12">
            <button type="button" class="btn btn-dark" form="registrationForm">CREATE MY ACCOUNT</button>
        </div>
    </div>
</div>