agm-map {
    width: 100%;
    height: 300px;
}
.form-container {
    padding-left: 3%;
    padding-right: 3%;
}

.astrik {
    color: red;
}

.card-container {
    height: 490px;
}

.form-card-body {
    padding-bottom: 0%;
    overflow-y: scroll;
    padding-left: 1%;
    padding-right: 1%;
}

.submit-button {
    text-align: center;
    align-self: center;
}

.get-otp-button, .verify-otp-button {
    padding-bottom: 3%;
}

.map-container {
    padding: 0%;
}

#formHeading {
    text-align: center;
}

.btn {
    background-color: #cc0202;
    border-color: transparent;
    color: #fec13d  ;
}

.registration-container {
    padding: 0%;
}