<div class="container-xl registration-container">
    <h6 id="formHeading">Registration Form</h6>
    <form [formGroup]="signUpForm" id="registrationForm" (ngSubmit)="onSubmit()">
        <div class="card card-container">
            <div class="card-body form-card-body">
                <div class="form-group form-container">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="file" id="img" class="inputfile" name="img" accept="image/*" (change)="onSelectFile($event)">
                            <label for="img"><i class="fa fa-camera fa-3x" aria-hidden="true" style="color:#fec13d;"></i></label>
                            <!-- &nbsp;&nbsp;
                            <i class="fa fa-camera fa-3x" aria-hidden="true" style="color:#fec13d;"></i> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="shopName">Shop Name<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="StoreName" placeholder="Shop Name" required> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Shop Owner Details<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="FirstName" placeholder="First Name" required> <br>
                            <input type="text" class="form-control" formControlName="LastName" placeholder="Last Name" required> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Shop Address<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="Address" placeholder="Address Line-1"> <br>
                            <input type="text" class="form-control" formControlName="Address1" placeholder="Address Line-2"> <br>
                            <input type="text" class="form-control" formControlName="City" placeholder="City"> <br>
                            <!-- <input type="text" class="form-control" formControlName="State" placeholder="State"> <br> -->
                            <select style="margin-bottom: 3%;" class="form-control" (change)="addState($event.target.value)"  formContolName="State1">
                                <option disabled value= "select state" selected> Select State </option>
                                <option [value]="state.StateID" *ngFor="let state of stateDetail" (change)="addState(state.StateID)" >
                                    {{state.StateName}}
                                </option>
                            </select>
                            <input type="text" class="form-control" formControlName="PinCode" placeholder="Pincode"> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Search Location, Move marker to locate<i class="astrik">*</i></label>
                                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <label>Move marker to set location.<i class="astrik">*</i></label> -->
                            <div class="card">
                                <div class="card-body map-container">
                                    <agm-map 
                                        [latitude]="latitude" 
                                        [longitude]="longitude" 
                                        [zoom]="zoom" >
                                        <agm-marker 
                                        [latitude]="latitude" 
                                        [longitude]="longitude"
                                        [markerDraggable]="true"
                                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                                    </agm-map>
                                </div>
                              </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="number">WhatsApp Number<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="PhoneNumber" placeholder="Number" *ngIf="!OTPVerify"  > <br>
                            <input type="text" class="form-control" formControlName="PhoneNumber" placeholder="Number" *ngIf="OTPVerify" readonly > <br>
                        </div>
                        <div class="col-md-2 get-otp-button">
                            <button type="button" class="btn btn-dark" (click)="onGetOtp()" *ngIf="!OTPVerify">Get OTP</button>
                        </div>
                        <div class="col-md-4">
                            <label for="otp">OTP<i class="astrik">*</i></label>
                            <input type="password" class="form-control" formControlName="otp" placeholder="OTP" *ngIf="!OTPVerify"> <br>
                            <input type="password" class="form-control" formControlName="otp" placeholder="OTP" *ngIf="OTPVerify" readonly > <br>
                        </div>
                        <div class="col-md-2 verify-otp-button">
                            <button type="button" class="btn btn-dark" (click)="onVerifyOtp()" *ngIf="!OTPVerify" >Verify</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="password">Email<i class="astrik">*</i></label>
                            <input type="email" class="form-control" formControlName="Email" placeholder="Email" email required> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="password">Password<i class="astrik">*</i></label>
                            <input type="password" class="form-control" formControlName="Password" placeholder="Password" required> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="deliveryMedium">Medium of Delivery<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="DeliveryOptions" placeholder="For.Eg Home-Delivery in 2-Hrs "> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row submit-button">
            <div class="col-md-12">
                <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-dark" form="registrationForm">CREATE MY ACCOUNT</button>
            </div>
        </div>
    </form>
</div>