       <div class="site-section testimonial-wrap bg-light1" id="features-section">
          <div class="container" id="container_top">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3">Why Be A Fatafat Consumer?</h2>
                </div>
              </div>
            </div>
        </div>
         <div>
            <div class="testimonial">
              
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/online.png" alt="Image" class="w-100 img-fluid mb-3 "></div>
              </figure>
              <p class="text-black1"><strong>Buy Fatafat. Buy Online. </strong></p>

              <blockquote class="mb-3">
                <p>&ldquo;You being a house maker and have ten things on your list. Finish off buying/ordering your essentials at your convenient time and place from your smartphone or computer.&rdquo;</p>
              </blockquote>
              
              
              
            </div>
          </div>

           <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/icon2.png" alt="Image" class="w-100 img-fluid mb-3 "></div>
              </figure>
               <p class="text-black1"><strong>Your Trusted Neighborhood Shop.</strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;Check whether your trusted shop is showing up in the interactive map in our portal. If not, we will add it on your suggestion.&rdquo;</p>
              </blockquote>
            

              
            </div>
           
          </div>

           <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/icons-03.png" alt="Image" style="width: 900px;"></div>
              </figure>
               <p class="text-black1"><strong>Doorstep Delivery. </strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;The trusted shop delivers at your doorstep with no extra charges.&rdquo;</p>
              </blockquote>
            

              
            </div>
           
          </div>
          <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/icons-04.png" alt="Image" class="w-100 img-fluid mb-3"></div>
              </figure>
               <p class="text-black1"><strong>No Health Risk.</strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;Ordering and receiving your essentials from the convenience of your home. The Corona crisis has taught us to be careful from unnecessary exposure which is being avoided because you know in advance what your favorite store has in stock.&rdquo;</p>
              </blockquote>
            

              
            </div>
           
          </div>
            <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/icons-06.png" alt="Image" class="w-100 img-fluid mb-3"></div>
              </figure>
              <p class="text-black1"><strong>Efficient Time Management.</strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;You will have time in your hand to share with your family and friends. No queuing up outside your favorite shop. &rdquo;</p>
              </blockquote>

              
            </div>

          </div>

           <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/icons-14.png" alt="Image" class="w-100 img-fluid mb-3"></div>
              </figure>
              <p class="text-black1"><strong>Community Serving. </strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;Your small shop or similar ones get a fillip by your ordering and get a fair chance in community.&rdquo;</p>
              </blockquote>

              
            </div>

          </div>

          <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/rewards.png" alt="Image" class="w-100 img-fluid mb-3"></div>
              </figure>
              <p class="text-black1"><strong>Accumulate Bonus/Rewards for Redemption.</strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;Our technical team is working on this important aspect so that our higher versions incorporate loyalty programme for our customer so that he/she get cash redemptions in the subsequent month on his/her purchases.&rdquo;</p>
              </blockquote>

              
            </div>

          </div>

      <div class="site-section testimonial-wrap bg-light1" id="testimonials-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Why Be A Fatafat Retailer?</h2>
          </div>
        </div>
      </div>
       <div>
            <div class="testimonial">
              
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/get_online.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>

               <p class="text-black1"><strong>Get Online. </strong></p>

              <blockquote class="mb-3">
                <p>&ldquo;Our portal helps you to convert and become instant or Fatafat. You beat the Big Stores because you adopt new technology.&rdquo;</p>
              </blockquote>
              
              
              
            </div>
          </div>
          <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/add_on.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
               <p class="text-black1"><strong>Add On Customers.</strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;Increase your outreach and gain.&rdquo;</p>
              </blockquote>
            

              
            </div>
           
          </div>

          <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/modern.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
               <p class="text-black1"><strong>Modernize Ordering. </strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;Your customer gets individual attention as there is convenience in ordering and delivery. More time for the Fatafat Store to organize.&rdquo;</p>
              </blockquote>
            

              
            </div>
           
          </div><div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/crowding.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
               <p class="text-black1"><strong>Avoid Crowding.</strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;Your opening hours are better managed and no health risk for you/staff and customer as there is no waiting. Take orders in evening before and use mornings only for delivery. All of us hence contribute to social distancing.&rdquo;</p>
              </blockquote>
            

              
            </div>
           
          </div>

          <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/efficiant.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
              <p class="text-black1"><strong>Become Efficient.</strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;More efficient means more revenue.&rdquo;</p>
              </blockquote>

              
            </div>

          </div>
           <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/accurate.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
              <p class="text-black1"><strong>Accurate Procurement. </strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;Since you know beforehand what your customer’s want, you can order accordingly from your wholesaler. Better inventory.&rdquo;</p>
              </blockquote>

              
            </div>

          </div>
           <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/easy.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
              <p class="text-black1"><strong>Easy To Use.</strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;You could even upload a handwritten page of goods you are selling on the day with its pricing, just by a few clicks on a mobile phone; your customers know exactly what you have and don’t make un-necessary inquires on the phone.&rdquo;</p>
              </blockquote>

              
            </div>

          </div>
           <div class="margin_top">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="images/tommorow.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
              <p class="text-black1"><strong>Be Ready For Tomorrow. </strong></p>
              <blockquote class="mb-3">
                <p>&ldquo;The new world order will require many changes in every respect. This is probably one of them. Have to change the old order for survival. So, be ready for e-commerce after Lockdown ends! &rdquo;</p>
              </blockquote>

              
            </div>

          </div>
      </div>
     <div class="site-section bg-light" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">About Us</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6">
            <img src="images/undraw_bookmarks_r6up.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <p class="mb-4">Fatafat’s inherent charm springs from our approach to functionality. We have sought to anchor this pragmatic universal emotion – FATAFAT aka Quick (read very quick) which an individual seeks from a busy life. Well, we have stepped in here so that our customer’s essential everyday needs are met in a responsible and yet caring way.</p>

            <p>We are here to make an impact by meeting our citizen’s essential requirements like grocery, milk, eggs, bread, ……… by posting it on our Fatafat.Store website/mobile friendly interface and get a planned delivery from mainly smaller vendors who are being left out in the bigger race out here.</p>
        
          </div>
        </div>

        
      </div>
    </div>

    


