<section class="user_form">
    <!-- <div class="col-md-12"><h1>User Form</h1></div> -->
    <div class="user-form-content main-store">
        <div class="rk-heading">
            <h4><strong>{{retailerDetail.StoreName}}</strong></h4>
            <small>{{retailerDetail.Address}}, {{retailerDetail.Address1}}<br>Delivery in {{retailerDetail.DeliveryOptions}}</small>
            <!-- <small>13/327 near kalyanpura station<br>Delivery in 2hrs</small> -->
        </div>
        <div class="stores-images">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-store-img">
                        <img [src]="imageURL" class="product-img">
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <div class="main-store-img">
                        <img src="images/watch.jpg" class="product-img">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="main-store-img">
                        <img src="images/watch.jpg" class="product-img">
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row store-text-box">
            <div class="col-md-12">
                <div class="text-area-main">
                    <textarea rows="3" class="text-area" placeholder="Type your order here..." (keyup)="onTextEnter(orderText)" #orderText></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <p>Or</p>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept="image/*" (change)="onChange(file)" #file>
                            <label class="custom-file-label" for="customFile">{{ fileName }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="orderExists()">
            <div class="col-md-12 next-button-container">
                <button type="button" class="btn btn-dark" (click)="onNextPage()">Next</button>
            </div>
        </div>
    </div>
</section>