<section class="user_form">
    <!-- <div class="col-md-12"><h1>User Form</h1></div> -->
    <div class="user-form-content main-store">
      
            <div class="rk-heading">
                <h4><strong>R.K. Store</strong></h4>
                <small>13/327 near kalyanpura station<br>Delivery in 2hrs</small>
            </div>
            <div class="stores-images">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-store-img">
                            <img src="images/watch.jpg" class="product-img">
                        </div>
                        <div class="main-store-img">
                            <img src="images/watch.jpg" class="product-img">
                        </div>
                        <div class="main-store-img">
                            <img src="images/watch.jpg" class="product-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="store-text-box">
                <div class="text-area-main">
                    <textarea rows="3" class="text-area" placeholder="Type your order here..."></textarea>
                </div>
                <div class="form-group">
                    <input type="file" name="img[]" class="file">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-paperclip"></i></span>
                      </div>
                      <input type="text" class="form-control file-broeser" disabled placeholder="Upload File" aria-label="Upload File" aria-describedby="basic-addon1">
                      <div class="input-group-append">
                        <button class="browse input-group-text btn btn-primary" id="basic-addon2"><i class="fas fa-search"></i>  Browse</button>
                      </div>
                    </div>
                  </div>
            </div>
    </div>
</section>