<div class="container-fluid">
    <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <!-- <label for="email">Email<i class="astrik">*</i></label> -->
                    <input type="email" class="form-control" formControlName="email" placeholder="Email"> <br>
                </div>
                <div class="col-md-12">
                    <!-- <label for="email">Email<i class="astrik">*</i></label> -->
                    <input type="password" class="form-control" formControlName="password" placeholder="Password"> <br>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-dark" form="loginForm">Login</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-dark" (click)="onRegister()">Register</button>
        </div>
    </div>
</div>