<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
<div class="container-fluid">
    <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <!-- <label for="email">Email<i class="astrik">*</i></label> -->
                    <input type="text" class="form-control" formControlName="email" placeholder="Phone Number"> <br>
                </div>
                <div class="col-md-12">
                    <!-- <label for="email">Email<i class="astrik">*</i></label> -->
                    <input type="password" class="form-control" formControlName="password" placeholder="Password"> <br>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-dark" form="loginForm">Login</button>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-dark" (click)="onRegister()">Register</button> -->
        </div>
    </div>
</div>