.heading-container {
    text-align: center;
    padding-top: 8%;
}

.upload-container, .or-container, .inventory-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 0%;
}

.upload-container p {
    margin: 0px;
    margin-left: 30px;
}

.upload-buttons, .ok-button {
    text-align: center;
    padding-top: 0%;
}

.card-img-top {
    width: 100%;
    height: 400px;
}

.inputfile {
    /* visibility: hidden; */
    display: none;
}

.btn {
    background-color: #cc0202;
    border-color: transparent;
    color: #fec13d  ;
}

.image-preview,.image-container {
    text-align: center;
}

#single-image {
    height: 200px;
    width: 200px;
}