<div class="container-fluid">
    <div class="row heading-container">
        <div class="col-md-12">
            <h6>R.K. Store</h6>
            <p>13/27, Near Kalyanpur Station</p>
        </div>
    </div>
    <div class="row upload-container">
        <div class="col-md-12">
            <p>UPLOAD PHOTOS OF INVENTORY</p>
        </div>
    </div>
    <div class="row upload-buttons">
        <div class="col-md-12">
            <input type="file" id="img" class="inputfile" name="img" accept="image/*">
            <label for="img"><i class="fa fa-paperclip fa-3x" aria-hidden="true" style="color:#fec13d;"></i></label>
            &nbsp;&nbsp;
            <i class="fa fa-camera fa-3x" aria-hidden="true" style="color:#fec13d;"></i>
        </div>
    </div>
    <div class="row or-container">
        <div class="col-md-12">
            <p>OR</p>
        </div>
    </div>
    <div class="row inventory-list">
        <div class="col-md-12">
            <p>TYPE YOUR INVENTORY</p>
            <textarea class="form-control"></textarea>
        </div>
    </div>
    <br>
    <div class="row ok-button">
        <div class="col-md-12">
            <button type="button" class="btn btn-dark">Submit</button>
        </div>
    </div>
</div>