<div class="container-xl registration-container">
    <h6 id="formHeading">Order Form</h6>
    <form [formGroup]="userform" id="userForm" (ngSubmit)="onSubmit()">
        <div class="card card-container">
            <div class="card-body form-card-body">
                <div class="form-group form-container">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="number">WhatsApp Number<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="PhoneNumber" placeholder="Number" *ngIf="!OTPVerify" > <br>
                            <input type="text" class="form-control" formControlName="PhoneNumber" placeholder="Number" *ngIf="OTPVerify" readonly> <br>
                        </div>
                        <div class="col-md-2 get-otp-button">
                            <button type="button" class="btn btn-dark" (click)="onGetOtp()" *ngIf="!OTPVerify">Get OTP</button>
                        </div>
                        <div class="col-md-4">
                            <label for="otp">OTP<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="otp" placeholder="OTP" *ngIf="!OTPVerify" > <br>
                            <input type="text" class="form-control" formControlName="otp" placeholder="OTP" *ngIf="OTPVerify" readonly > <br>
                        </div>
                        <div class="col-md-2 verify-otp-button">
                            <button type="button" class="btn btn-dark" (click)="onVerifyOtp()" *ngIf="!OTPVerify">Verify</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>First Name<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="FirstName" placeholder="" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('FirstName')">
                                Please provide first name
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Last Name<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="LastName" placeholder="" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('LastName')">
                                Please provide last name
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Address<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="Address" placeholder="Address Line-1"> <br>
                            <input type="text" class="form-control" formControlName="Address1" placeholder="Address Line-2"> <br>
                            <input type="text" class="form-control" formControlName="City" placeholder="City"> <br>
                            <!-- <input type="text" class="form-control" formControlName="State" placeholder="State"> <br> -->
                            <select style="margin-bottom: 3%;" class="form-control" (change)="addState($event.target.value)"  formContolName="StateID">
                                <option disabled value= "select state" selected> Select State </option>
                                <option [value]="state.StateID" *ngFor="let state of stateDetail" (change)="addState(state.StateID)" >
                                    {{state.StateName}}
                                </option>
                            </select>
                            <input type="text" class="form-control" formControlName="PinCode" placeholder="Pincode"> <br>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <label>PINCODE<i class="astrik">*</i></label>
                            <input type="text" class="form-control" formControlName="pincode"  placeholder="" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('pincode')">
                                Please provide pincode
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <label>Search Location, Move marker to locate<i class="astrik">*</i></label>
                            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                            <div *ngIf="locationError.length > 0">
                                <span>{{locationError}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <agm-map 
                                [latitude]="latitude" 
                                [longitude]="longitude" 
                                [zoom]="zoom" >
                                <agm-marker 
                                [latitude]="latitude" 
                                [longitude]="longitude"
                                [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row submit-button">
            <div class="col-md-12">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>

<!-- <section class="user_form">
    <div class="col-md-12"><h1>Customer Order Form</h1></div>
    <div class="user-form-content">
        
        <form class="form" [formGroup]="userform" id="userForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="box-1">
                            <label>YOUR ORDER*</label>
                            <textarea id="w3mission" formControlName="orderdescription" rows="3" >
                                
                            </textarea>
                            <div class="alert alert-danger" *ngIf="ValidateForm('orderdescription')">
                                Please provide order detail
                            </div>
                        </div>
                        <div class="flex-box">
                            <div class="box-1">
                                <label>MOBILE NO*</label>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control" formControlName="phonenumber"  placeholder="" value="" required/>
                                    <div class="alert alert-danger" *ngIf="ValidateForm('phonenumber')">
                                        Please provide number
                                    </div>
                                </div>
                                <div class="col-md-2 get-otp-button">
                                    <button type="button" class="btn btn-dark" (click)="onGetOtp()">Get OTP</button>
                                </div>
                            </div>
                            <div class="box-1 box-2">
                                <label>OTP*</label>
                                <div class="input-group mb-2">
                                    <input type="text" formControlName="otp" placeholder="" value=""/>
                                    <div class="alert alert-danger" *ngIf="ValidateForm('otp')">
                                        Please provide received otp
                                    </div>
                                    <div class="col-md-2 verify-otp-button">
                                        <button type="button" class="btn btn-dark" (click)="onVerifyOtp()">Verify</button>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="box-1">
                            <label>FIRST NAME*</label>
                            <input type="text" formControlName="firstname" placeholder="" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('firstname')">
                                Please provide first name
                            </div>
                            <label>LAST NAME*</label>
                            <input type="text" formControlName="lastname" placeholder="" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('lastname')">
                                Please provide last name
                            </div>
                        </div>
                        
                        <div class="box-1">
                            <label>YOUR ADDRESS*</label>
                            <input type="text" formControlName="address" placeholder="Address" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('address')">
                                Please provide address
                            </div>
                            <input type="text" class="addres" formControlName="address1" placeholder="Address1" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('address1')">
                                Please provide address1
                            </div>
                            <input type="text" class="addres" formControlName="city" placeholder="City" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('city')">
                                Please provide city
                            </div>
                            <input type="text" class="addres" formControlName="state" placeholder="State" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('state')">
                                Please provide state
                            </div>
                            <select style="margin-bottom: 3%;" class="form-control" (change)="addState($event.target.value)"  formContolName="State1">
                                <option disabled value= "select state" selected> Select State </option>
                                <option [value]="state.StateID" *ngFor="let state of stateDetail" (change)="addState(state.StateID)" >
                                    {{state.StateName}}
                                </option>
                            </select>
                        </div>
                        <div class="box-1">
                            <label>PINCODE*</label>
                            <input type="text" formControlName="pincode"  placeholder="" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('pincode')">
                                Please provide pincode
                            </div>
                        </div>
                        <div class="box-1">
                            <label>MARK YOUR LOCATION*</label>
                            <input type="text" (keyup)="getAddress()" [(ngModel)]="address" formControlName="location" placeholder="" value="" required/>
                            <div class="alert alert-danger" *ngIf="ValidateForm('location')">
                                Please provide location
                            </div>
                            <div *ngIf="locationError.length > 0">
                                <span>{{locationError}}</span>
                            </div>
                        </div>
                        <div class="box-1">
                            <agm-map 
                                [latitude]="latitude" 
                                [longitude]="longitude" 
                                [zoom]="zoom" >
                                <agm-marker 
                                [latitude]="latitude" 
                                [longitude]="longitude"
                                [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
                <button type="submit" [disabled]="!userform.valid" class="btnSubmit">Submit</button>
        </form>
    </div>
</section> -->